.main_container{
    border: 1px solid black;
    height: 580px;
    width: 594px;
    margin: auto;
}

.dada{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    margin: auto;
    margin-top: 61px;
}

.ubhilinedada{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    margin: auto;
}

.adilinedada{
    border: 1px solid black;
    height: 1px;
    width: 360px;
    margin: auto;
}

.ubhilinepapa{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    position: relative;
    left: 115px;
}
.ubhilinekaka{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    position: relative;
    left: 477px;
    top: -24px;
}

.parentsdiv{
    
    height: 79px;
    width: 440px;
    margin: auto;
    position: relative;
    top: -24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.papa{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    cursor: pointer;
}

.kaka{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    cursor: pointer;
}

.bhayuubhiline{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    position: relative;
    left: 115px;
    top: -23px;
}

.bhayuadiline{
    border: 1px solid black;
    height: 0.2px;
    width: 180px;
    position: relative;
    top: -23px;
    left: 30px;
}

.ubhilinenevil{
    border: 1px solid black;
    height: 44px;
    width: 0.2px;
    position: relative;
    left: 475px;
    top: -48px;
}

.ubhilinemadhav{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    position: relative;
    left: 30px;
    top: -70px;
}

.ubhilinedevang{
    border: 1px solid black;
    height: 22px;
    width: 0.2px;
    position: relative;
    left: 210px;
    top: -92px;
}

.madhav{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    position: relative;
    top: -93px;
}

.devang{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    position: relative;
    top: -173px;
    left: 170px;
}

.bhai, .nev, .pr{
    opacity: 0;
}

.nevil{
    border: 1px solid black;
    height: 79px;
    width: 88px;
    position: relative;
    top: -257px;
    left: 427px;
}

.papaimg, .kakaimg, .madhavimg, .nevilimg{
    object-fit: cover;
    height: 79px;
    width: 90px;
}

.namepapa{
    width: 150px;
    border: 1px solid black;
    position: relative;
    left: 90px;
    top: -100px;
    background-color: rgb(134, 43, 183);
    color: rgb(50, 180, 119);
    opacity: 0;
    transform-origin: left;
    transform: scaleX(0); /* Initially hide the text */
    transition: transform 1s, opacity ;
  }
  
  .papa:hover .namepapa {
    transform: scaleX(1); /* Show the text on hover */
    opacity: 1;
  }